{% extends "auctions/layout.html" %}

{% block body %}
{% include "auctions/slider.html" %}
    <div id="container">
        <div class="row">
            {% for auction in auctions %}
            {%if auction.active == "Active" %}
            <div class="col-3 pr-2 mb-4">
                <div class="listing">
                    <h4 class=" col-12 pl-10"> {{auction.title}} </h4><br>
                    <div>
                        <img  src="{{auction.image.url}}" alt=""  width="300" height="200"> 
                    </div>
                    <br>
                    <div class="row"> 
                        <p class="col-6 ml-2">${{auction.price}}</p>
                        <button class="btn btn-light col-5 pr-2">Add to cart</button>
                    </div>
                    <br>
                </div>
            </div>
            {%endif%}
            {%endfor%}
        </div>
        
    </div>
    <br>
                              
{% endblock %}